* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    margin:0;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background:#222;
}

.container{
    display:flex;
    justify-content:center;
    align-items:center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    max-width: 100%;
    position: relative;
}

#square{
    width:250px;
    height:250px;
    background:white;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}

.iris{
    width:100px;
    height:100px;
    background:#4aa3df;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
}

.eyeball{
    width:40px;
    height:40px;
    background:black;
    border-radius:50%;
}