* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing:  border-box;
}

body {
            font-family: Arial, sans-serif;
            padding: 20px;
        }
        h1 {

        }

        button {
            padding: 10px 15px;
            margin-right: 10px;
            cursor: pointer;
            gap: .625rem
        }

        #contenido {
            margin-top: 20px;
            padding: 15px;
            border: 1px solid #ccc;
            min-height: 120px;
        }

        .fade-in {
            animation: fadeIn 0.5s ease-in-out;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: translateY(10px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        /* fetch(`https://api.themoviedb.org/3/search/movie?include_adult=false&language=es-ES&query=${search.value}`, {
                method: "GET",
                headers: { "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI5NTUwMzA0NDUzNzg1MGNlNWY3OGY5ZjUwOThjNzVjNCIsIm5iZiI6MTczNDQ1ODExMC42MTksInN1YiI6IjY3NjFiYWZlZWQyNmE5ZDJkOGRmZTExMiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.ok29UicAMLyCxOTRSK5GZw4rG3-7Xk6DW1pLZXGtMMU" }
            }) */