* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
header {
    padding: 10px;
    background-color: purple;
    color: #f4f6f8;
    margin: auto;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 30px;
    text-align: center;
}


p {
    font-size: 20px;
    color: #252323;
    margin-top: 10px;
    padding: 15px;
    border-radius: 8px;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: white;
    margin: 10px auto;
    padding: 12px;
    width: 250px;
    border-radius: 8px;
}

button {
    background-color: #2563eb;
    color: white;
    border: none;
    padding: 12px 18px;
    margin: 8px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #1e40af;
}

h2 {
    color: #70085f;
}

#contador {
    color: #2563eb;
    font-weight: bold;
}