* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    background: linear-gradient(273deg, #65ad0d, #7ddaff);
    color: black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 14%, rgba(194, 188, 178, 1) 66%);
}



.text-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.logo {
    width: 100px;
}

h1 {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
}

.header__titulo1 {
    color: rgb(11, 7, 104);
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.active {
    color: white;
    background: rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    border-radius: 8px;

}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    transition: color 0.3s ease, transform 0.2s ease;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
    color: white;
    transform: scale(1.08);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 25px;
    background:
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("../images/minimalista3.png");
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}

.info-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    gap: 30px;
    background:
        linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
        url("../images/minimalista2.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.alim-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 35px 20px;
    position: relative;
    background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)),
        url("../images/minimalista.png");
    background-size: cover;
    background-position: center;
}

.edu-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 40px 20px;
    background:
        linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
        url("../images/minimalista2.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.presentacion-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 25px;
}

.content1 {
    background: rgb(245, 249, 250);
    padding: 30px 40px;
    border-radius: 20px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.10);
    text-align: center;
    max-width: 1000px;
    width: 90%;
    margin: 30px auto;
    border: 4px double blue;
}

.content1 p {
    font-size: 18px;
    line-height: 1.6;
    color: #444;
    max-width: 700px;
    margin: 0 auto;
}

.content1 h2 {
    color: #151317;
    margin-bottom: 15px;
    font-size: 32px;
    font-weight: bold;
}

.info-section1 {
    background: white;
    max-width: 800px;
    width: 90%;
    padding: 25px;
    border-radius: 20px;
    text-align: center;
    margin: 40px auto;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    border: 1px solid #e0e0e0;
}

.info-section1 p {
    font-size: 17px;
    line-height: 1.6;
    color: #444;
    max-width: 650px;
    margin: 0 auto;
    text-align: justify;
}


.info-section1 h2 {
    color: #65ad0d;
}

.edu-intro {
    background: white;
    width: 90%;
    max-width: 900px;
    padding: 35px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.10);
    border: 5px double rgb(55, 190, 84);
}

.edu-intro h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.edu-intro p {
    line-height: 1.6;
}

.galeria-intro {
    background: rgba(255, 255, 255, 0.85);
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    max-width: 800px;
}

.galeria-intro h2,
.galeria-intro p {
    color: rgb(12, 2, 2);
}

.animales-fuera {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

}

.animales-fuera img {
    width: 180px;
    height: 130px;
    object-fit: cover;
}

.text1,
.text2,
.text3 {
    max-width: 1000px;
    width: 90%;
    display: flex;
    margin-bottom: 25px;
}

.text1 .content,
.text3 .content {
    flex-direction: row;
}

.text2 .content {
    flex-direction: row;
}

.text1 {
    justify-content: left;
}

.text2 {
    justify-content: right;
}

.text3 {
    justify-content: center;
}

.info-section2,
.info-section3,
.info-section4 {
    max-width: 850px;
    width: 90%;
    margin: 20px auto;
    background: linear-gradient(90deg, #6d78b8, #21ddd9);
    border-radius: 20px;
    padding: 25px 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
    margin-top: 10px;
}


.info-section2,
.info-section3,
.info-section4,
.content-info {
    flex: 1;
}

.info-section2,
.info-section3,
.info-section4:hover {
    transform: translateY(-5px);
    padding: 25px 30px;
}

.info-section2 h3 .info-section3 h3 .info-section4 h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.info-section2 p,
.info-section3 p,
.info-section4 p {
    font-size: 17px;
    line-height: 1.6;
    margin-top: 10px;
}

.info-section2 {
    flex-direction: column;
    text-align: justify;
}

.info-section3 {
    flex-direction: row-reverse;
    text-align: justify;
}

.info-section4 {
    flex-direction: column;
    text-align: justify;
}

.alim-section {
    width: 90%;
    max-width: 900px;
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 2%, rgba(175, 224, 223, 1) 64%, rgba(155, 197, 230, 1) 90%, rgba(148, 187, 233, 1) 100%);
    padding: 25px 30px;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.12);
    transition: 0.3s;
}

.alim-section:hover {
    transform: translateY(-5px);
}

.alim-section h3 {
    font-size: 23px;
    margin-bottom: 12px;
}

.alim-section p {
    font-size: 16px;
    line-height: 1.7;
}

.edu-section {
    width: 90%;
    max-width: 900px;
    background: linear-gradient(90deg, rgb(103, 114, 174) 35%, rgba(0, 255, 229, 1) 100%);
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.12);
    transition: 0.3s;
}

.edu-section:hover {
    transform: translateY(-5px);
}

.edu-section h3 {
    margin-bottom: 10px;
}

.edu-section p,
.edu-section li {
    line-height: 1.6;
}

.edu-section ul {
    padding-left: 20px;
}

.presentacion-section {
    width: 90%;
    max-width: 900px;
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.presentacion-section h2 {
    margin-bottom: 10px;
}

.presentacion-section p,
.presentacion-section li {
    line-height: 1.6;
}

.presentacion-section ul {
    padding-left: 20px;
}


.content {
    background: #94cddf;
    background: linear-gradient(90deg, rgb(103, 114, 174) 35%, rgba(0, 255, 229, 1) 100%);
    width: 900px;
    max-width: 95%;
    padding: 20px 25px;
    border-radius: 16px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    gap: 25px;
    border: 1px solid black;
}

.content h3 {
    min-width: 170px;
    font-size: 28px;
    font-weight: bold;
}

.content p {
    flex: 1;
    font-size: 18px;
    line-height: 1.6;
}

.content img {
    width: 220px;
    height: 140px;
    object-fit: cover;
    border-radius: 16px;
}

.content-info {
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 30%, rgba(148, 187, 233, 1) 100%);
    width: 1000px;
    max-width: 95%;
    padding: 20px 25px;
    align-items: center;
}

.galeria-grid {
    width: 90%;
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

galeria-card {
    background: white;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.12);
    text-align: center;
    transition: 0.3s;
}

.galeria-card:hover {
    transform: translateY(-5px);
    color: rgb(245, 249, 250);
    background: linear-gradient(90deg, rgb(103, 114, 174) 35%, rgba(0, 255, 229, 1) 100%);
}

.galeria-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 16px;
}

.galeria-card h3 {
    padding: 15px;
    font-size: 18px;
    text-align: center;
}

blockquote {
    text-align: center;
    font-style: italic;
    font-size: 18px;
    margin-top: 30px;
    color: #333;
}

.frase-final {
    text-align: center;
    font-style: italic;
    font-size: 18px;
    margin: 40px 0;
    color: white;
}

strong {
    text-align: center;
    font-style: italic;
    font-size: 18px;
    margin-top: 30px;
    color: rgb(147, 155, 156);
}

footer {
    background-color: gray;
    padding: 18px 10px;
    width: 100%;
    border-top: 2px solid #0e0685;
}

.contenido_footer {
    text-align: center;
}

.titulo_footer {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.redes {
    margin-bottom: 10px;
}

.redes a {
    color: #e0e0e0;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    transition: 0.3s;
}

.redes a:hover {
    color: rgb(130, 238, 184);
}

footer p {
    font-size: 17px;
    color: #e0e0e0;
    text-align: center;
    margin-top: 3px;
}