* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    height: 300vh;
    /* para que haya scroll */
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: yellowgreen radial-gradient(#b18b8b 20deg, #333 30deg, #8d9958 35deg, #e9dee9 70deg);
    transition: .3s ease;
}

.menu-fijo {
    position: sticky;
    top: 0;
    width: 100%;
    min-height: 100px;
    /* en vez de height: 50px */
    background: radial-gradient(circle, rgb(67, 45, 119) 2%, rgb(196, 175, 224) 64%, rgb(4, 50, 85) 90%, rgba(148, 187, 233, 1) 100%);
    border-bottom: 2px solid black;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

.menu-fijo nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.menu-fijo nav li {
    list-style: none;
}

.menu-fijo nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.menu-fijo nav a:hover {
    color: #ffcc00;
    transform: scale(1.1);
}

.active {
    background: rgba(255, 255, 255, 0.25);
    border-color: rgba(255, 255, 255, 0.6);
}

.text-logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    color: white;
}

.logo {
    width: 6rem;
    mix-blend-mode: multiply;
}

.logo1 {
    width: 6rem;
    mix-blend-mode: multiply;
}

.sticky {
    position: sticky;
    top: 0;
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    font-family: "Gillies Gothic Light", cursive;
    text-shadow: 0 0 5px blue, 0 0 10px blue, 0 0 15px blue, 0 0 20px blue,
        0 0 25px blue, 0 0 30px blue;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #b7db16;
}

.contenido {
    padding: 1rem;
    background: rgba(239, 237, 239, 0.8);
    margin: 1rem auto;
    border-radius: 8px;
    max-width: 800px;
}

.h2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    color: #170e79;
}

.h2 a:hover {
    color: #ffcc00;
    transform: scale(1.1);
}

.texto {
    font-size: 1.25rem;
    line-height: 1.6;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    hyphens: auto;
}

/* footer de la pagina */
footer {
    background-color: gray;
    padding: 18px 10px;
    width: 100%;
    border-top: 2px solid #470b5b;
}

.contenido_footer {
    text-align: center;
}

.titulo_footer {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.redes {
    margin-bottom: 10px;
}

.redes a {
    color: #e0e0e0;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    transition: 0.3s;
}

.redes a:hover {
    color: rgb(130, 238, 184);
}

footer p {
    font-size: 17px;
    color: #e0e0e0;
    text-align: center;
    margin-top: 3px;
}