* {
    margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero {
  min-height: 100vh;
  background:
    linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
    url("../images/caballos.png");
  background-size: cover;
  background-position: center;
  color: white;
  font-family: Arial, sans-serif;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: justify;
  padding: 30px 60px;
}

.menu h1 {
  font-size: 30px;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}

.menu a:hover {
  color: #d4a373;
}

.hero-content {
  width: 55%;
  margin-left: 70px;
  margin-top: 150px;
}

.hero-content h2 {
  font-size: 60px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.btn {
  background: #d4a373;
  color: white;
  padding: 14px 30px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
}