* {
    margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
}

.hero {
  min-height: 100vh;
  background:
    linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
    url("../images/caba3.png");
  background-size: cover;
  background-position: center;
  color: white;
  font-family: Arial, sans-serif;
}

.hero-rutas {
 min-height: 50px;
  background-size: cover;
  background-position: center;
  color: white;
  font-family: Arial, sans-serif;
}

.text-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.logo {
    width: 9%;
    width: 140px;
  filter:
    drop-shadow(0 0 8px rgba(237, 233, 233, 0.4))
    drop-shadow(0 0 15px rgba(240, 238, 236, 0.5));
}


h1 {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
}
.header__titulo1 {
    color: rgb(222, 222, 231);
    font-size: 1.5rem;
}

.menu {
  position: sticky;
  top: 0;
  min-height: 100px;
  width: 100%;
  z-index: 99;
  padding: 25px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.menu ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}

.menu a:hover {
  color: #d4a373;
}

.menu-rutas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(43, 15, 2, 0.85);
  backdrop-filter: blur(8px);
}

.menu-rutas ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu-rutas a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}

.menu-rutas a:hover {
  color: #d4a373;
}

.rutas {
  padding: 100px 80px;
  background: #f8f5f0;
}

.rutas h2 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 60px;
  color: #3b2f2f;
}

.hero-content {
  width: 55%;
  margin-left: 70px;
  margin-top: 450px;
}

.hero-content p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.galeria {
  padding: 100px 80px;
  background: #f8f5f0;
  text-align: center;
}

.galeria h2 {
  font-size: 55px;
  color: #3b2f2f;
  margin-bottom: 15px;
}

.subtitulo-galeria {
  color: #7c5f46;
  font-size: 18px;
  margin-bottom: 50px;
}

.grid-galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.grid-galeria img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 25px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.18);
  transition: 0.4s;
}

.grid-galeria img:hover {
  transform: scale(1.04);
  filter: brightness(1.12);
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.cards-ruta {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  
}

.card {
  background: white;
  border-radius: 25px;
  overflow: hidden;

  box-shadow: 0 10px 30px rgba(0,0,0,0.12);

  transition: 0.4s;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.card-content {
  padding: 25px;
}

.card-content h3 {
  margin-bottom: 15px;
  color: #3b2f2f;
}

.card-content p {
  margin-bottom: 20px;
  color: #666;
  line-height: 1.6;
}

.card-content a {
  text-decoration: none;
  background: #b08968;
  color: white;

  padding: 12px 22px;
  border-radius: 30px;
}

.active {
    color: white;
    background: rgba(214, 184, 84, 0.2);
    padding: 5px 10px;
    border-radius: 8px;

}
.btn {
  background: #d4a373;
  color: white;
  padding: 14px 30px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
}

footer {
  background: #1f1a17;
  padding: 15px 10px;
  text-align: center;
}

.titulo_footer {
  color: white;
  font-size: 20px;
  margin-bottom: 25px;
}

.redes {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 25px;
}

.redes a {
  color: #d6d3d1;
  text-decoration: none;
  font-size: 18x;
  transition: 0.3s;
}

.redes a:hover {
  color: #d4a373;
}

.copyright {
  color: #a8a29e;
  font-size: 14px;
}