* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --azul-oscuro: #071a33;
  --azul-principal: #1e6cff;
  --azul-claro: #dceaff;
  --azul-suave: #eef5ff;
  --blanco: #ffffff;
  --gris: #5f6f89;
  --pink: #e5c7e7;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--azul-suave);
  color: var(--azul-oscuro);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 40px;
  background: var(--pink)
}

h1 {
  font-size: 34px;
  font-weight: bold;
  margin: 20px auto;
}

.tabs{
  width: 90%;
  max-width: 760px;
  min-height: 220px;
  margin: 5rem auto;
  padding: 2rem;
  background: #eeeeee;
  border-radius: 12px;
  box-shadow: 0 15px 35px rgba(0,0,0,.2);
}

.tabs__buttons{
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

.tabs__button{
  flex: 1;
  padding: 1rem;
  border-radius: 8px;
  background: #f7f7f7;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0 5px 12px rgba(0,0,0,.15);
}

.tabs__button.activo{
  background: var(--blanco);
  transform: translateY(-2px);
}

.tabs__content{
  display: none;
  line-height: 1.6;
}

.tabs__content.activo{
  display: block;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 1rem 1.25rem;
  background-color: var(--blanco);
}

.footer__title {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: var(--azul-principal);
}

.footer__text {
  margin-bottom: 1rem;
  color: var(--gris);
}

.footer__copy {
  font-size: 0.8125rem;
  color: var(--gris);
}

/* RESPONSIVE */
@media (max-width: 768px){

  .tabs{
    margin: 3rem auto;
    padding: 1.5rem;
  }

  .tabs__buttons{
    gap: 1rem;
  }

  .tabs__button{
    padding: .8rem;
    font-size: .9rem;
  }

}

@media (max-width: 480px){

  .tabs__buttons{
    flex-direction: column;
  }

  .tabs{
    min-height: auto;
  }

}