* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
}

/* clases pertenecientes al header */
.header-index {
    background:
        linear-gradient(rgba(124, 162, 176, 0.75), rgba(24, 48, 57, 0.85)),
        url("../images/5759.jpg") no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: Arial, sans-serif;
    backdrop-filter: blur(12px);
    position: sticky;
    top: 0;
    z-index: 1000;
  border-bottom: 1px solid rgba(255,255,255,0.08);
}

.menu {
    position: sticky;
    top: 0;
    min-height: 100px;
    width: 90%;
    z-index: 99;
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.menu a:hover {
    color: #d4a373;
}

.logo {
    width: 250px;
    filter: drop-shadow(0 0 8px rgba(237, 233, 233, 0.4)) drop-shadow(0 0 15px rgba(240, 238, 236, 0.5));
}

.active {
    color: #e8e4e1;
    padding: 5px 10px;
    border-radius: 20px;
    background: #68a48d;
    box-shadow: 0 0 8px rgba(73, 212, 157, 0.4);
    transition: 0.3s;

}

.dropdown-menu {
  display:none;
  position:static;
  top: 80%;
  left: 0;
  background: white;
  width: 230px;
  padding: 10px 0;
  border-radius: 14px;
  box-shadow: 0 12px 28px rgba(0,0,0,0.18);
  z-index: 999;
}


.dropdown-menu a {
  display: block;
  color: #183039;
  padding: 12px 18px;
  font-size: 14px;
}

.dropdown-menu a:hover {
  background: #f4f6f3;
  color: #49d49d;
}

.dropdown:hover .dropdown-menu{
  display: block;
}


/* boton buscador en el header */
.buscador {
    display: flex;
}

.buscador input {
    padding: 10px 12px;
    border: none;
    border-radius: 20px 0 0 20px;
    outline: none;
}

.buscador button {
    padding: 10px 15px;
    border: none;
    color: #10251d;
    font-weight: bold;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    ;
    background-image: linear-gradient(to right, #43a47d, #4ab2e2);
}

/* Main */
.hero-index {
    width: 88%;
    margin: 45px auto;
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    gap: 35px;
    align-items: center;
}

.etiqueta {
    color: #2f9f71;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
}

.hero-texto h1 {
    font-size: 48px;
    color: #183039;
    margin: 15px 0;
}

.hero-texto p {
    color: #5d6c67;
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 25px;
}

.boton-principal {
    background: #49d49d;
    color: #10251d;
    padding: 15px 25px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
    display: inline-block;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    background-image: linear-gradient(to right, #007bff, #4ab2e2);
}

.boton-principal:hover {
    background-image: linear-gradient(to right, #0b7dda, #4ab2e2);
    background: #3e8166;
    transform: translateY(-2px);
}

.hero-imagen img {
    width: 100%;
    height: 420px;
    object-fit: cover;
    border-radius: 28px;
    box-shadow: 0 18px 35px rgba(24, 48, 57, 0.25);
}

.noticias-section {
    width: 88%;
    margin: 60px auto;
}

.titulo-section {
    text-align: center;
    margin-bottom: 35px;
}

.titulo-section h2 {
    font-size: 34px;
    color: #183039;
}

.titulo-section p {
    color: #63726d;
    margin-top: 8px;
}

.contenedor-tarjetas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.tarjeta-noticia {
    background: white;
    border-radius: 22px;
    overflow: hidden;
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.10);
    transition: 0.3s;
}

.tarjeta-noticia:hover {
    transform: translateY(-8px);
}

.tarjeta-noticia img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.contenido-tarjeta {
    padding: 22px;
}

.contenido-tarjeta span {
    color: #2f9f71;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
}

.contenido-tarjeta h3 {
    color: #183039;
    margin: 12px 0;
    font-size: 22px;
}

.contenido-tarjeta p {
    color: #63726d;
    line-height: 1.6;
    font-size: 15px;
}

.contenido-tarjeta a {
    display: inline-block;
    margin-top: 15px;
    color: #2f9f71;
    font-weight: bold;
    text-decoration: none;
}


/* footer */
footer {
    background: #1f1a17;
    padding: 15px 10px;
    text-align: center;
}

.titulo_footer {
    color: white;
    font-size: 20px;
    margin-bottom: 25px;
}

.redes {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 25px;
}

.redes a {
    color: #d6d3d1;
    text-decoration: none;
    font-size: 18x;
    transition: 0.3s;
}

.redes a:hover {
    color: #d4a373;
}

.copyright {
    color: #a8a29e;
    font-size: 14px;
}

@media(max-width: 900px) {
    .menu {
        flex-direction: column;
    }

    .nav-links {
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero-index {
        grid-template-columns: 1fr;
    }

    .hero-texto h1 {
        font-size: 36px;
    }

    .contenedor-tarjetas {
        grid-template-columns: 1fr;
    }
}

/* css para ultimas noticias */

.detalle-noticia {
    width: 85%;
    max-width: 1000px;
    margin: 60px auto;
}

.cabecera-noticia {
    text-align: center;
    margin-bottom: 35px;
}

.cabecera-noticia h1 {
    font-size: 42px;
    color: #183039;
    margin: 18px 0;
    line-height: 1.25;
}

.meta-noticia {
    color: #6b7773;
    font-size: 15px;
}

.imagen-noticia img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);

}

.contenido-noticia {
    background: white;
    padding: 40px;
    border-radius: 22px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    margin-bottom: 50px;
}

.contenido-noticia p {
    font-size: 18px;
    line-height: 1.8;
    color: #394843;
    margin-bottom: 22px;
}

@media(max-width: 900px) {
    .cabecera-noticia h1 {
        font-size: 32px;
    }

    .imagen-noticia img {
        height: 310px;
    }

    .contenido-noticia {
        padding: 25px;
    }
}

/* css para login */
.login-page {
    min-height: calc(100vh - 160px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 20px;
    background:
        linear-gradient(rgba(24, 48, 57, 0.75), rgba(24, 48, 57, 0.85)),
        url("../images/5759.jpg") no-repeat center center fixed;
    background-size: cover;
    background-position: center;
}

.login-card {
    width: 100%;
    max-width: 920px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(18px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 25px 55px rgba(0, 0, 0, 0.30);
}

.login-info {
    padding: 55px;
    color: white;
    background: linear-gradient(135deg, rgba(73, 212, 157, 0.25), rgba(24, 48, 57, 0.45));
}

.login-info h1 {
    font-size: 42px;
    margin: 15px 0;
}

.login-info p {
    font-size: 18px;
    line-height: 1.7;
    color: #e8f5ef;
}

.etiqueta-login {
    color: #030e09;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    filter: drop-shadow(rgba(255, 255, 255, 0.92) 0 0 10px);

}

.formulario-login {
    padding: 55px;
    background: rgba(255, 255, 255, 0.92);
}

.formulario-login label {
    display: block;
    color: #183039;
    font-weight: bold;
    margin-bottom: 8px;
}

.formulario-login input[type="email"],
.formulario-login input[type="password"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #d8e1dd;
    border-radius: 16px;
    margin-bottom: 20px;
    outline: none;
    font-size: 15px;
}

.formulario-login input:focus {
    border-color: #49d49d;
    box-shadow: 0 0 0 4px rgba(73, 212, 157, 0.18);
}

.login-opciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    font-size: 14px;
}

.login-opciones a,
.texto-registro a {
    color: #2f9f71;
    text-decoration: none;
    font-weight: bold;
}

.formulario-login button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 18px;
    background: #49d49d;
    color: #10251d;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    ;
    background-image: linear-gradient(to right, #43a47d, #4ab2e2);
}

.formulario-login button:hover {
    background: #35bd87;
    transform: translateY(-2px);
}

.texto-registro {
    text-align: center;
    margin-top: 22px;
    color: #52625d;
}

@media(max-width: 850px) {
    .login-card {
        grid-template-columns: 1fr;
    }

    .login-info,
    .formulario-login {
        padding: 35px;
    }
}

/* css para registro de ususario */
.registro-page {
    min-height: calc(100vh - 160px);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 70px 20px;

    background:
        linear-gradient(rgba(66, 114, 131, 0.8), rgba(24, 48, 57, 0.85)),
        url("../images/5759.jpg");

    background-size: cover;
    background-position: center;
}

.registro-card {
    width: 100%;
    max-width: 950px;

    display: grid;
    grid-template-columns: 1fr 1fr;

    border-radius: 30px;
    overflow: hidden;

    background: rgba(255, 255, 255, 0.12);

    backdrop-filter: blur(18px);

    box-shadow: 0 25px 55px rgba(0, 0, 0, 0.30);
}

.registro-info {
    padding: 55px;
    color: white;

    background:
        linear-gradient(135deg,
            rgba(73, 212, 157, 0.25),
            rgba(24, 48, 57, 0.50));
}

.registro-info h1 {
    font-size: 42px;
    margin: 15px 0;
}

.registro-info p {
    line-height: 1.7;
    font-size: 18px;
}

.formulario-registro {
    background: rgba(255, 255, 255, 0.94);
    padding: 55px;
}

.formulario-registro label {
    display: block;

    margin-bottom: 8px;

    color: #183039;
    font-weight: bold;
}

.formulario-registro input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 16px;
    border: 1px solid #d7e0dc;
    outline: none;
}

.formulario-registro input:focus {
    border-color: #49d49d;
    box-shadow:
        0 0 0 4px rgba(73, 212, 157, 0.18);
}

.formulario-registro button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 18px;
    color: #10251d;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    background-image: linear-gradient(to right, #49d49d, #4ab2e2);
}

.formulario-registro button:hover {
    background: #35bd87;

    transform: translateY(-2px);
}

.texto-login {
    margin-top: 22px;

    text-align: center;

    color: #5a6863;
}

.texto-login a {
    color: #2f9f71;
    text-decoration: none;
    font-weight: bold;
}

.etiqueta-reg {
    color: #e8efec;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

@media(max-width: 850px) {
    .registro-card {
        grid-template-columns: 1fr;
    }
}

/* css para contactos */
.contacto-page {
    padding: 70px 20px;
    background: #f4f6f3;
}

.contacto-container {
    width: 100%;
    max-width: 1150px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.contacto-info {
    padding: 30px;
}

.contacto-info h1 {
    font-size: 46px;
    color: #183039;
    margin: 18px 0;
}

.contacto-info p {
    color: #5d6c67;
    line-height: 1.8;
    font-size: 18px;
}

.info-box {
    margin-top: 30px;
    padding: 25px;
    background: white;
    border-radius: 22px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.info-box h3 {
    color: #183039;
    margin-bottom: 10px;
}

.formulario-contacto {
    background: white;
    padding: 40px;
    border-radius: 28px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.10);
}

.formulario-contacto label {
    display: block;
    margin-bottom: 8px;
    color: #183039;
    font-weight: bold;
}

.formulario-contacto input,
.formulario-contacto textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 22px;
    border-radius: 16px;
    border: 1px solid #d7e0dc;
    outline: none;
    font-size: 15px;
}

.formulario-contacto textarea {
    min-height: 160px;
    resize: none;
}

.formulario-contacto input:focus,
.formulario-contacto textarea:focus {
    border-color: #49d49d;
    box-shadow:
        0 0 0 4px rgba(73, 212, 157, 0.18);
}

.formulario-contacto button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 18px;
    background: #49d49d;
    color: #10251d;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s ease-in-out;
    background-image: linear-gradient(to right, #49d49d, #4ab2e2);
}

.formulario-contacto button:hover {
    background: #35bd87;
    transform: translateY(-2px);
}

@media(max-width: 900px) {

    .contacto-container {
        grid-template-columns: 1fr;
    }

    .contacto-info h1 {
        font-size: 36px;
    }
}

/* css para categorias */

.categorias-page {
    width: 88%;
    margin: 60px auto;
}

.categorias-page .titulo-section {
    text-align: center;
    margin-bottom: 45px;
}

.categorias-page h1 {
    font-size: 42px;
    color: #183039;
    margin: 15px 0;
}

.categorias-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.categoria-card {
    background: white;
    padding: 30px;
    border-radius: 24px;
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.09);
    transition: 0.3s;
    border-top: 5px solid #49d49d;
}

.categoria-card:hover {
    transform: translateY(-8px);
}

.categoria-card h2 {
    color: #183039;
    margin-bottom: 15px;
    font-size: 23px;
}

.categoria-card p {
    color: #63726d;
    line-height: 1.6;
    margin-bottom: 20px;
}

.categoria-card a {
    color: #2f9f71;
    text-decoration: none;
    font-weight: bold;
}

@media(max-width: 1000px) {
    .categorias-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 650px) {
    .categorias-grid {
        grid-template-columns: 1fr;
    }
}