* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    height: 300vh; /* para que haya scroll */
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: repeating-conic-gradient(
  #333 20deg, #333 30deg, #871e9c 35deg, #6c356e 70deg); 
  transition: .3s ease;
}

.menu-fijo {
    position: sticky;
    top: 0;
    width: 100%;
    min-height: 100px;
    /* en vez de height: 50px */
    background: radial-gradient(circle, rgb(67, 45, 119) 2%, rgb(196, 175, 224) 64%, rgb(4, 50, 85) 90%, rgba(148, 187, 233, 1) 100%);
    border-bottom: 2px solid black;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

.titulo1 {
    font-family: Georgia, serif;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.08rem;
    text-align: left;
    margin-bottom: 10px;
    font-size: 2rem;
}

.menu-fijo nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.menu-fijo nav li {
    list-style: none;
}

.menu-fijo nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.menu-fijo nav a:hover {
    color: #ffcc00;
    transform: scale(1.1);
}

.header {
    padding: 1rem;
    text-align: center;
}

.text-logo {
    text-decoration: none;
}

.logo {
    width: 5rem;
}

.sticky {
    position: sticky;
    top: 0;
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    font-family: "Gillies Gothic Light", cursive;
    text-shadow: 0 0 5px blue, 0 0 10px blue, 0 0 15px blue, 0 0 20px blue,
        0 0 25px blue, 0 0 30px blue;
}

/* Párrafos */
.contenido p {
    width: 50vw;
    margin: 2rem auto;
    padding: 1rem;
    background: #f3d6ff;
    border: 2px solid white;
}
/* Relative */
.p1 {
    position: relative;
    left: -25vw;
    top: -50px;
}

.p2 {
    position: relative;
    left: 25vw;
    top: 50px;
}
.header__titulo1 {
    position: relative;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    text-align: center;
    text-shadow: 
        0 0 5px blue,
        0 0 10px blue,
        0 0 15px blue,
        0 0 20px blue;
}

h1 {
    position: relative;
    color: white;

    font-family: "Gillies Gothic Light", cursive;
    font-size: 6rem;

    text-shadow: 0 0 5px blue, 0 0 10px blue, 0 0 15px blue, 0 0 20px blue,
        0 0 25px blue, 0 0 30px blue;
}

h1::before {
    position: absolute;
    top: -16%;
    left: 20%;

    display: inline-block;
    content: "";

    border-radius: 50%;
    width: 70%;
    aspect-ratio: 1/1;
    z-index: -1;

    border: 4px solid hsla(300, 97%, 95%);

    /* also can use filter: none; */
    filter: drop-shadow(0 0 0 hsla(300, 97%, 60%)) drop-shadow(0 0 0 hsla(300, 97%, 60%)) drop-shadow(0 0 0 hsla(300, 97%, 60%));

    animation: flicker-ring 2s infinite ease-in-out;
}

@keyframes flicker-ring {
    to {
        filter: drop-shadow(0 0 10px hsla(300, 97%, 60%)) drop-shadow(0 0 20px hsla(300, 97%, 60%)) drop-shadow(0 0 30px hsla(300, 97%, 60%));
    }
}