* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border border-box;
}

header {
    background-color: rgb(226, 156, 226);
    text-decoration: black;
    text-align: center;
    border-bottom: 1px;
}

h1 {
    font-size: 2.em;
    color: black;
    text-shadow: 3px 3px 6px color(rgb(203, 190, 6));
    text-align: center;
    text-shadow: 4px 4px 0 0 color-mix(in srgb, color percentage, color percentage);
    
}

ul {
    display: inline;
    margin: 0 15px;
}

li {
    display: inline;
    margin: 0 15px;

}


a {
    text-decoration: none;
    color: rgb(147, 5, 147);
    text-shadow: 3px 3px 0 0 color(rgb(78, 4, 78) rgb(18, 18, 18) rgb(68, 128, 0) blue);
}

a:hover {
    color: gray;
    text-shadow: 2px 2px 4px color(white);
}


main {
    padding: 20px;
    min-height: calc(100vh -9.3125rem);
    background-color:rgb(174, 122, 174);
    text-align: center;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
    color: white;
    text-align: justify;
}

img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    

}

.lin1 {
    display: inline-block;
}


footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    border-top: 1px solid yellowgreen;
}

footer p {
    font-size: 1em;
    color: white;
    text-align: center;
}